.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.login-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
}

.login-form {
  flex: 1;
  padding: 20px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remember-group {
  margin: 15px 0;
}

.remember-group input {
  margin-right: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #f77062;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #f55747;
}

.social-login {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.social-login button {
  flex: 1;
  margin: 0 5px;
  background-color: #ccc;
  color: white;
  padding: 8px;
  border-radius: 5px;
}

.social-login button:hover {
  background-color: #bbb;
}

.login-image {
  flex: 1;
  text-align: center;
}

.login-image img {
  max-width: 100%;
  height: auto;
}
