.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #f8f9fa;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .search-bar input {
    width: 300px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .navbar-icons {
    display: flex;
    align-items: center;
  }
  
  .navbar-icons .icon {
    font-size: 1.5rem;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .date-time {
    font-size: 0.9rem;
    color:#6c757d;

  }
  