/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
}


